a {
  text-decoration: none;
  color: #ffb41f; }


.active div {
  background-color: #eee; }

.valign-wrapper {
  display: flex;
  align-items: center; }

.app-bar {
  background-color: 'grey100';
  border-bottom: 3px solid #998643; }
  .app-bar h1 {
    color: #213541 !important;
    font-weight: 300;
    margin: 5px 8px 0 0; }



.flex-div > a {
  width: 100%; }

.fix-height, .hoverable {
  height: 100%; }
