body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

iconStyles = {
  marginRight: 24;
}

RaisedButton: {
  height: 1000;
}

buttonMiddle {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
